<h2> Cadastrar Contatos: </h2>
<hr/>

<form #contatoForm="ngForm" *ngIf="contato">
    
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-8">
           <input [(ngModel)]="contato.nome" required name="nome" #contatoName="ngModel" 
                  [ngClass]="{'is-invalid': contatoName.invalid}" class="form-control">
            <div class="invalid-feedback">
                <span>Nome é obrigátorio</span>
            </div>
        </div>
     </div>

     <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-8">
         <input [(ngModel)]="contato.email" required name="email" #contatoEmail="ngModel" 
                [ngClass]="{'is-invalid': contatoEmail.invalid}" class="form-control">
          <div class="invalid-feedback">
              <span>E-mail é obrigátorio</span>
          </div>
      </div>
   </div>

   <div class="form-group row">
      <label class="col-sm-2 col-form-label">Telefone:</label>
      <div class="col-sm-8">
         <input [(ngModel)]="contato.telefone" required name="telefone" #contatoTelefone="ngModel" type="number"
                [ngClass]="{'is-invalid': contatoTelefone.invalid}" class="form-control">
          <div class="invalid-feedback">
              <span>Telefone é obrigátorio</span>
          </div>
      </div>
   </div>

   <div class="form-group row">
      <label class="col-sm-2 col-form-label">CEP:</label>
      <div class="col-sm-8">
         <input [(ngModel)]="contato.cep" required name="cep" #contatoCep="ngModel" type="number"
                [ngClass]="{'is-invalid': contatoCep.invalid}" class="form-control">
          <div class="invalid-feedback">
              <span>CEP é obrigátorio</span>
          </div>
      </div>
   </div>

   <div class="form-group row">
      <label class="col-sm-2 col-form-label">Endereço:</label>
      <div class="col-sm-8">
         <input [(ngModel)]="contato.endereco" required name="endereco" #contatoEndereco="ngModel" 
                [ngClass]="{'is-invalid': contatoEndereco.invalid}" class="form-control">
          <div class="invalid-feedback">
              <span>Endereço é obrigátorio</span>
          </div>
      </div>
   </div>

   <div class="form-group row">
      <label class="col-sm-2 col-form-label">Número:</label>
      <div class="col-sm-8">
         <input [(ngModel)]="contato.numero" required name="numero" #contatoNumero="ngModel" type="number"
                [ngClass]="{'is-invalid': contatoNumero.invalid}" class="form-control">
          <div class="invalid-feedback">
              <span>Número é obrigátorio</span>
          </div>
      </div>
   </div>

   <div class="form-group row">
      <label class="col-sm-2 col-form-label">Logradouro:</label>
      <div class="col-sm-8">
         <input [(ngModel)]="contato.logradouro" required name="logradouro" #contatoLogradouro="ngModel" 
                [ngClass]="{'is-invalid': contatoLogradouro.invalid}" class="form-control">
          <div class="invalid-feedback">
              <span>Logradouro é obrigátorio</span>
          </div>
      </div>
   </div>

   <div class="form-group row">
      <label class="col-sm-2 col-form-label">Localidade:</label>
      <div class="col-sm-8">
         <input [(ngModel)]="contato.localidade" required name="localidade" #contatoLocalidade="ngModel" 
                [ngClass]="{'is-invalid': contatoLocalidade.invalid}" class="form-control">
          <div class="invalid-feedback">
              <span>Localidade é obrigátorio</span>
          </div>
      </div>
   </div>

   <div class="form-group row">
      <label class="col-sm-2 col-form-label">Cidade:</label>
      <div class="col-sm-8">
         <input [(ngModel)]="contato.cidade" required name="cidade" #contatoCidade="ngModel" 
                [ngClass]="{'is-invalid': contatoCidade.invalid}" class="form-control">
          <div class="invalid-feedback">
              <span>Cidade é obrigátorio</span>
          </div>
      </div>
   </div>

   <div class="form-group row">
      <label class="col-sm-2 col-form-label">UF:</label>
      <div class="col-sm-8">
         <input [(ngModel)]="contato.uf" required name="uf" #contatoUf="ngModel" 
                [ngClass]="{'is-invalid': contatoUf.invalid}" class="form-control">
          <div class="invalid-feedback">
              <span>UF é obrigátorio</span>
          </div>
      </div>
   </div>

   <div class="form-group row">
      <label class="col-sm-2 col-form-label">Observações:</label>
      <div class="col-sm-8">
         <textarea [(ngModel)]="contato.observacoes" required name="observacoes" #contatoObservacoes="ngModel"
                class="form-control"></textarea>
       </div>
   </div>
   
   <button [disabled]="contatoForm.invalid" (click)="save()" class="btn btn-primary mr-2">Salvar</button>
   <button [routerLink]="['/contatos']" class="btn btn-secondary mr-2">Voltar</button>

</form>

